body {
	padding: 2em;

}

.table {
	display: table;
	width: 800px;
	border: solid 1px ##aeb6bf;

}

.emnekombinasjon {
	background-color: red;
}

.niva0 {
	background-color: #1b2631;
	color: white
}

div.niva1 {
	background-color: #34495e;
	color: white
}

.niva1 {
	text-indent: 1em;
}

.niva2 {
	text-indent: 2em;
}

.niva3 {
	text-indent: 3em;
}

div.niva2 {
	background-color: #5d6d7e;
	color: white;
}

div.niva3 {
	background-color: #aeb6bf;
	color: white
}

.valgregl {
	background-color: #ebedef !important;
	color: unset !important;
	font-style: italic;
}

.beskrivelse {
	background-color: unset !important;
	color: unset !important;
}

.tablerow {
	display: table-row;
	border-bottom: solid 1px #aeb6bf;
	line-height: 1.6em;
}

.tablcell {
	display: table-cell;
	border-top: solid 1px #aeb6bf;
	height: 100%;
	padding: 0.2em;

}

.krav {
	float: right;
	margin-right: 0.9em;
}

a {
	color: unset;
	text-decoration: none;
}

a:hover {
	color: unset;
	text-decoration: underline;
	text-decoration-thickness: from-font;
	background-color: #f9f9fa;
}

.flex-container {
	display: flex;

}

.flex-container section {
	flex: 1; // By your image example it looks like you want this element to stretch
}

.flex-container aside {
	max-width: 500px;
}

aside * {
	text-indent: 0;
	text-decoration: none;
}

button {
	background: none;
	border: none;
	line-height: 2em;
}

ul {
	list-style: none;
	padding-left: 0px;
	padding-top: 0.6em;
}

.tab {
	padding-left: 0.7em;
	border: solid 1px #aaaaaa;
	margin-bottom: -1rem;
}

.tabcontent {
	border: solid 1px #aaaaaa;
	border-top: unset;
	line-height: 1.5em;
}

.active {
	text-decoration: underline;
	text-underline-offset: 0.3em;
	font-weight: 600;
}

button:hover {
	text-decoration: underline;
	text-underline-offset: 0.3em;
}

ul > * {
  padding-left: 1em !important;

a.Utgått:hover {
  text-decoration: none;
}
a.utgått:hover {
  text-decoration: none;
}
.prevent-select {
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
#BASV-PERMISJON, #BASV-KOGNI-UTV, #BASV-GEOG_H15-UTV, #BASV-SANT_H09-UTV, #SV-PERM, #BASV-INFO_H12-UTV, #BASV-MEVI_H11-UTV, #BASV-SAPO_H13-UTV, #BASV-JOU_UTV, #BASV-TVP_UTV, #BASV-AIKI_UTV, #MASV-ITØK-UTVEKS, #BASV-UTV {
	display: none !important;
}
	.tablerow #BASV-PERMISJON, #BASV-KOGNI-UTV, #BASV-GEOG_H15-UTV, #BASV-SANT_H09-UTV, #SV-PERM, #BASV-INFO_H12-UTV, #BASV-MEVI_H11-UTV, #BASV-SAPO_H13-UTV, #BASV-JOU_UTV, #BASV-TVP_UTV, #BASV-AIKI_UTV, #MASV-ITØK-UTVEKS, #BASV-UTV {
	display: none;
}
#BASV-SANT_H09-UTV{
	display: none;
}
.beskrivelse{
	text-indent: 0;
  padding-left: 1em;
}
